-e git://github.com/mvcisback/hypothesis-cfg@master#egg=hypothesis-cfg
-e git://github.com/mvcisback/DiscreteSignals@master#egg=discrete-signals
attrs==18.2.0
codecov==2.0.15
funcy==1.11
lenses==0.5.0
hypothesis==4.5.7
parsimonious==0.8.1
pytest==3.2.3
pytest-cov==2.5.1
pytest-flake8==0.9
pytest-sugar==0.9.2
pytest-xdist==1.22.5
