-e git://github.com/mvcisback/hypothesis-cfg@master#egg=hypothesis-cfg
-e git://github.com/mvcisback/DiscreteSignals@master#egg=discrete-signals
attrs==19.1.0
codecov==2.0.15
funcy==1.11
lenses==0.5.0
hypothesis==4.14.0
parsimonious==0.8.1
pytest==4.5.0
pytest-cov==2.6.1
pytest-flake8==1.0.4
pytest-xdist==1.27.0
pytest-sugar==0.9.2
