-e git://github.com/mvcisback/hypothesis-cfg@master#egg=hypothesis-cfg
-e git://github.com/mvcisback/DiscreteSignals@master#egg=discrete-signals
attrs==18.2.0
funcy==1.10.3
lenses==0.4.0
parsimonious==0.8.1
hypothesis==3.73.0

pytest==3.8.1
pytest-bpdb==0.1.4
pytest-cache==1.0
pytest-colordots==1.1
pytest-cov==2.6.0
pytest-flake8==1.0.2
pytest-forked==0.2
pytest-isort==0.2.1
pytest-pep8==1.0.6
pytest-xdist==1.23.1
python-dateutil==2.7.3
